<div class="ventana">
    <div class="row">
        <div class="col-md-3">
            <video src="./assets/vidos/video1.mp4" controls style="height: 200px; width: 200px;"></video>
            <label >Aqui Iria el Nombre del video</label>
        </div>        
        <div class="col-md-3">
            <video src="./assets/vidos/video2.mp4" controls  style="height: 200px; width: 200px;"> </video>
            <label >Aqui Iria el Nombre del video</label>
        </div> 
        <div class="col-md-3">
            <video src="./assets/vidos/video3.mp4" controls style="height: 200px; width: 200px;"></video>
            <label >Aqui Iria el Nombre del video</label>
        </div>
        <div class="col-md-3">
            <video src="./assets/vidos/video4.mp4" controls style="height: 200px; width: 200px;margin-bottom: 0;"></video>
            <label >Aqui Iria el Nombre del video</label>
        </div>          
    </div>
</div>
